.main-container {
  margin: 30px;
}

.main-container h2 {
  text-align: center;
  padding: 3px;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.card-1, .card-2, .card-3 {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 250px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.card-1 img, .card-2 img, .card-3 img {
  width: 80px;
  margin-bottom: 10px;
}